table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 27%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 150px;
    background: #d1d8e0;
    text-align: center;
}
th{
    background: #fc5c65;
}