* {box-sizing: border-box}
.container {
  padding: 16px;
}
.maincontainer{
  max-width: 1500px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.navibar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
.row1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col1{
  flex-basis: 50%;
  min-width: 300px;
}
nav ul li{
  display: inline-block;
  margin-right: 25px;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}

.siteFooter{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 10px 15px 0px;
  height:150px;
  width: 100%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}
